@import "./variables";
@import "./responsive";
@import "./animation";

:root {
  --white: #fff;
  --black: #000;

  --text-gray-7: #050505;
  --text-gray-5: #333333;
  --text-gray-2: #666;
  --text-gray-10: #5E5E5E;
  --text-gray-11: #c4c4c4;
  --text-gray-8: #eee;
  --text-gray-6: #fafafa;

  --text-yellow-1: #ffd726;

  --blue-4: #126cab;
  --blue-5: #2ea3f2;
  --blue-6: #666c89;
  --blue-2: #d1e7e5;
  --blue-3: #c8cfd9;
  --blue-1: #eff8ff;
  --blue-7: #e1e5ed;

  --step-typing: 1;
  --gradient-product: linear-gradient(
    180deg,
    #d9d9d9 0%,
    rgba(217, 217, 217, 0) 112.87%
  );
}

@media (prefers-color-scheme: dark) {
  :root {
  }
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  min-height: 100vh;
}

body {
  background-color: var(--white);
  color: var(--black);
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

@media only screen and (min-width: 1024px) {
  .container {
    max-width: 1024px;
    margin: 0 auto;
  }
}

@media only screen and (min-width: 1920px) {
  .container {
    max-width: 1440px;
    margin: 0 auto;
  }
}

/**********
 * HEADER *
 **********/
header {
  position: fixed;
  width: 100%;
  background-color: var(--white);
  z-index: 99999;
}

.nav-menu-btn {
  position: absolute;
  right: 3px;
  top: 8px;
  padding: 15px;
}

.nav {
  max-height: 100px;
}

.nav-inner {
  position: absolute;
  width: 100vw;
  max-height: 0px;
  overflow-y: auto;
  background-color: var(--white);
  // transition: max-height 0.25s ease-in;
  padding: 0 20px 0px;
  &::-webkit-scrollbar {
    display: none;
  }
}

.nav-open {
  .nav-inner {
    max-height: calc(100vh - 72px);
    // padding-bottom: 15px;
    border-bottom: 1px solid var(--blue-3);
  }
}

.nav-list {
  list-style-type: none;
}

.nav-link {
  display: flex;
  justify-content: space-between;
  align-items: center;
  & > a {
    font-weight: 600;
    display: block;
    flex-grow: 1;
    padding: 10px 0;
  }
}
.nav-item-arrow {
  width: 30px;
  height: 30px;
  & > img {
    width: 12px;
    margin-left: 11px;
    margin-bottom: -1px;
    transition: transform 0.5s;
  }
}

.nav-list-2 {
  max-height: 0px;
  overflow: hidden;
  //margin-left: 9px;
}

.nav-item-open {
  .nav-list-2 {
    max-height: initial;
    margin-bottom: 25px;
  }
  .nav-item-arrow {
    & > img {
      transform: rotate(180deg);
    }
  }
}

.nav-link-2 {
  color: var(--blue-4);
  font-size: 18px;
  font-weight: 600;
  padding: 10px 0;
  & > img {
    display: none;
  }
}
.nav-link-3 {
  display: flex;
  align-items: center;
  gap: 10px;
  font-weight: 600;
  padding: 8px 0;
  & > img {
    width: 30px;
    height: 30px;
  }
}
@media only screen and (min-width: 1024px) {
  header {
    box-shadow: 1px 0px 4px 0px var(--blue-7);
  }
  .nav {
    display: flex;
  }
  .nav-menu-btn {
    display: none;
  }

  .nav-inner {
    position: static;
    max-height: initial;
    overflow-y: initial;
    display: flex;
    align-items: center;
    // padding-bottom: 0 !important;
  }
  .nav-list-wp {
    //position: relative;
    flex-grow: 1;
    display: flex;
    align-items: center;
    gap: 20px;
  }
  .nav-list {
    display: flex;
    margin-top: 0;
    gap: 10px;
    align-items: center;
  }
  .nav-link {
    height: 100px;
    & > a {
      color: var(--text-gray-2);
    }
  }
  .nav-item {
    margin: 0 10px;
    &:hover {
      .nav-link {
        & > a {
          color: var(--blue-4);
        }
      }
      .nav-item-arrow {
        & > img {
          transform: rotate(180deg);
        }
      }
      .nav-list-2 {
        height: 75vh;
        max-height: initial;
        border-left: 1px solid var(--blue-7);
        box-shadow: 1px 1px 1px 0px var(--blue-7);
        padding-bottom: 10px;
      }
    }
  }
  .nav-link-active {
    color: #126cab!important;
    border-bottom: 2px solid #9EDFFF;
  }

  .nav-item-arrow {
    width: 25px;
    margin-bottom: -2px;
  }
  .nav-list-2 {
    position: absolute;
    transition: max-height 0.5s;
    background-color: var(--white);
    width: 1440px;
    left: 50%;
    right: 50%;
    top: 310px;
    transform: translate(-50%, -50%);
  }
  .nav-item-2 {
    width: 180px;
    padding: 5px 15px;
    border-bottom: 1px solid var(--white);

    .img-chevron-up {
      display: none;
    }

    &:hover {
      background-color: var(--blue-1);
      border-bottom: 1px solid var(--blue-7);

      .img-chevron-up {
        display: block;
      }

      .nav-list-3 {
        display: initial;
        height: 197px;
      }

      .list-product-3 {
        display: flex;
        height: 197px;
        overflow: hidden;
      }
    }
  }
  .nav-link-2 {
    font-size: 14px;
    color: var(--black);
    display: flex;
    align-items: center;
    justify-content: space-between;
    & > img {
      display: block;
      width: 10px;
      transform: rotate(90deg);
    }
  }

  .nav-list-3 {
    display: none;
    position: absolute;
    left: 180px;
    list-style-type: none;
    top: 0;
    width: 100%;
    padding-left: 20px;

    .title-category-prod {
      font-size: 24px;
      padding-bottom: 12px;
    }
  }

  .list-product-3 {
    padding: 16px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 16px;
    list-style-type: none;
    align-items: flex-start;
    width: 100%;
    overflow: scroll;

    .item-content {
      width: 320px;
      height: 120px;
      display: flex;
      gap: 4px;
      padding: 8px;

      &:hover {
        border: 1px solid #9EDFFF;
        background-color: #EEF5FD;
        cursor: pointer;

        .title-prod {
          color: #126CAB;
        }
      }


      .image-prod {
        width: 80px;
        object-fit: contain;
      }

      .title-prod {
        font-size: 20px;
      }
    }
  }

  .nav-item-3 {
    &:hover {
      background-color: var(--blue-1);
      .nav-link-3 {
        color: var(--blue-4);
        border-bottom-color: var(--blue-7);
        & > img {
          display: initial;
        }
      }
    }
  }
  .nav-link-3 {
    font-size: 14px;
    padding: 15px 15px;
    border-bottom: 1px solid var(--white);
    & > img {
      display: none;
      position: absolute;
      left: 293px;
      top: 17px;
      width: 151px;
      height: 164px;
      object-fit: contain;
    }
  }
}
@media only screen and (min-width: 1920px) {
  .nav-inner {
    margin-left: 100px;
  }
  .nav-list-wp {
    gap: 50px;
  }
  .nav-list {
    gap: 50px;
  }
  .nav-list-2 {
    right: 0;
  }
}
/**************
 * END HEADER *
 **************/

/*****************
 * NAV COMPONENT *
 *****************/

.nav-brand {
  display: inline-block;
  margin: 10px 10px;
  & > img {
    width: 120px;
  }
}

.header-search {
  border: 1px solid var(--text-gray-2);
  border-radius: 16px;
  margin: 10px 0;
  img {
    width: 26px;
    height: 26px;
    margin-top: 4px;
    margin-left: 5px;
  }
}

.btn-change-lang {
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 30px;
  cursor: pointer;
  margin: 15px 0px;
  & > img {
    margin-bottom: 0px;
    margin-left: 8px;
  }
}

.btn-change-lang-flag {
  height: 24px;
  width: 24px;
  position: relative;
  overflow: hidden;
  img {
    position: absolute;
    width: 24px;
    //margin-left: -4px;
  }
}

@media only screen and (min-width: 1024px) {
  .nav-brand {
    margin-top: 30px;
  }
  .header-search {
    border: none;
    margin: 5px 0 0px 0;
    img {
      width: 20px;
      height: 20px;
    }
  }
}

/*****************
 * NAV COMPONENT *
 *****************/

/**********
 * FOOTER *
 **********/
.footer-wp {
  padding: 20px;
}
.btn-scroll-to-head {
  position: fixed;
  bottom: 100px;
  right: 100px;
  padding: 10px;
  cursor: pointer;
}

.footer {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  // gap: 30px;
  // margin: 20px 0px;
  align-items: flex-start;
  width: calc(100% + 20px);
  margin-left: -20px;
  margin-top: -20px;
  // margin: 0 -20px;
}
.footer-logo-wp {
  padding: 20px 0 20px 20px;
  flex-basis: 100%;
  text-align: center;
  img {
    width: 200px;
  }
}
.footer-col-title {
  color: var(--blue-4);
  font-weight: 600;
  font-size: 18px;
}
.footer-col {
  display: flex;
  flex-direction: column;
  gap: 20px;
  flex-basis: 100%;
  padding: 20px 0 20px 20px;
}
.footer-link-item {
  font-size: 14px;
  font-weight: 400;
  color: var(--text-gray-2);
  img {
    width: 16px;
    margin: 0 5px -3px 0;
  }
}
.footer-sns-wp {
  align-items: center;
  align-self: center;
  flex-basis: 100%;
}
.footer-sns {
  display: flex;
  gap: 20px;
  align-items: flex-end;
  justify-content: flex-start;
}

.footer-copyright {
  background-color: var(--blue-4);
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  p {
    color: var(--white);
    font-size: 16px;
    font-weight: 400;
  }
}

@media only screen and (min-width: 768px) {
  .footer-col {
    flex-basis: 50%;
    max-width: 50%;
  }
  .footer-sns-wp {
    flex-basis: 50%;
    max-width: 50%;
    align-self: flex-start;
    align-items: flex-start;
  }
}

@media only screen and (min-width: 1024px) {
  .footer {
    margin-top: 30px;
    margin-bottom: 50px;
  }
  .footer-col {
    max-width: 18%;
    flex-basis: 18%;
  }
  .footer-logo-wp {
    padding-right: 50px;
    max-width: 28%;
    flex-basis: 28%;
    img {
      margin-top: 30px;
      width: 100%;
    }
  }
}

/**************
  * END FOOTER *
  **************/

/******************
 * OTHER COMPONET *
 ******************/
.divider {
  height: 1px;
  background: var(--blue-3);
}

/***********************
 * END OTHER COMPONENT *
 ***********************/

/*********
 * TITLE *
 *********/

/*************
 * END TITLE *
 *************/
