.wp {
  display: none;
  align-items: center;
  justify-content: center;
  gap: 10px;
  margin: 30px 0;
}

.item {
  cursor: pointer;
  padding: 5px;
}

.fromLayout {
  display: flex;
}

.divider {
  height: 1px;
  flex-grow: 1;
  background: var(--blue-2);
}
@media only screen and (min-width: 1024px) {
  .wp {
    display: flex;
  }
  .fromLayout {
    display: none;
  }
}

@media only screen and (min-width: 1920px) {
  .wp {
    margin-top: 45px;
    gap: 17px;
  }
}
