.wp {
  background: var(--blue-1);
  padding: 50px 0;
}

.txt {
  text-align: center;
  font-size: 24px;
}

.outer {
  display: flex;
  flex-direction: column;
  margin: 0 5px;
}

.img {
  img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
}
.item {
  display: flex;
  flex-direction: column;
  gap: 30px;
  margin-bottom: 50px;
}
.imgItem {
  width: 80px;
  height: 80px;
  margin: 0 auto;
  img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
}

.title {
  font-size: 20px;
  font-weight: 600;
  text-align: center;
  color: var(--text-gray-2);
}

.des {
  margin-top: 15px;
  color: var(--blue-6);
  text-align: center;
}

@media only screen and (min-width: 768px) {
  .outer {
    flex-direction: row;
    gap: 30px;
    margin-top: 30px;
  }
  .img {
    flex-basis: 40%;
    max-width: 40%;
  }
  .commits {
    flex-basis: 60%;
    max-width: 60%;
  }
  .item {
    flex-direction: row;
    gap: 15px;
    margin-bottom: 0;
    align-items: flex-start;
    &:not(:last-child) {
      margin-bottom: 30px;
    }
  }
  .des {
    margin-top: 5px;
    text-align: left;
  }
  .title {
    text-align: left;
  }
  .imgItem {
    width: 50px;
    height: 50px;
  }
}

@media only screen and (min-width: 1024px) {
  .outer {
    margin-top: 50px;
  }
  .item {
    &:not(:last-child) {
      margin-bottom: 40px;
    }
  }
  .img {
    img {
      transform: translateY(-50px);
      max-width: 500px;
      max-height: 500px;
    }
  }
}

@media only screen and (min-width: 1280px) {
  .img {
    flex-basis: 50%;
    max-width: 50%;
    img {
      transform: translateY(-75px);
    }
  }
  .commits {
    flex-basis: 50%;
    max-width: 50%;
  }
  .txt {
    font-size: 28px;
  }
  .title {
    font-size: 22px;
  }
  .item {
    gap: 25px;
    &:not(:last-child) {
      margin-bottom: 50px;
    }
  }
  .des {
    margin-top: 10px;
  }
}

@media only screen and (min-width: 1440px) {
  .txt {
    font-size: 32px;
  }
  .title {
    font-size: 25px;
  }
  .img {
    img {
      max-width: 500px;
      max-height: 500px;
    }
  }
}
@media only screen and (min-width: 1920px) {
  .des {
    margin-top: 15px;
  }
  .item {
    gap: 30px;
    &:not(:last-child) {
      margin-bottom: 65px;
    }
  }
  .commits {
    margin-top: 50px;
  }
  .img {
    text-align: right;
    img {
      margin-right: 100px;
      transform: translateY(0);
    }
  }
}
