.ours {
  text-align: center;
  font-size: 24px;
  color: var(--text-gray-7);
  margin: 20px 0 40px;
}
.slider {
  //   margin: 0 -5px;
  :global .slick-slide {
    & > div {
      margin: 0 5px;
    }
  }
}
.wp {
  margin-bottom: 50px;
}
.detailBtn {
  cursor: pointer;
  display: flex;
  display: inline-flex;
  align-items: center;
  padding: 5px 5px 5px 0;
  color: var(--blue-4);
  gap: 8px;
  p {
    font-size: 16px;
  }
}

.img {
  width: 50px;
  height: 50px;
  margin: 0 auto;
  img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
}

.title {
  font-size: 20px;
  color: var(--text-gray-2);
  text-align: center;
  margin: 20px 0;
}

.des {
  color: var(--blue-6);
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.link {
  margin-top: 30px;
  text-align: center;
}

@media only screen and (min-width: 1024px) {
  .slider {
    :global .slick-slide {
      & > div {
        margin: 0 15px;
      }
    }
  }
}

@media only screen and (min-width: 1280px) {
  .wp {
    max-width: 960px;
    margin: 0 auto 70px;
  }
  .ours {
    font-size: 28px;
  }
  .img {
    margin: initial;
  }
  .title {
    text-align: left;
  }
  .des {
    text-align: left;
  }
  .link {
    text-align: left;
  }
}

@media only screen and (min-width: 1440px) {
  .slider {
    :global .slick-slide {
      & > div {
        margin: 0 25px;
      }
    }
  }
  .ours {
    font-size: 32px;
  }
  .title {
    font-size: 22px;
  }
}
@media only screen and (min-width: 1920px) {
  .ours {
    margin: 50px 0 60px;
  }
  .wp {
    max-width: 1280px;
    margin: 0 auto 100px;
  }
  .ours {
    font-size: 35px;
  }
  .title {
    font-size: 25px;
  }
  .slider {
    margin: 0 -80px;
    :global .slick-slide {
      & > div {
        margin: 0 80px;
      }
    }
  }
  .link {
    margin-top: 50px;
  }
}


.modal {

}
.modal > .header {
  width: 100%;
  border-bottom: 1px solid gray;
  font-size: 18px;
  text-align: center;
  padding: 5px;
}
.modal > .content {
  width: 100%;
  padding: 10px 5px;
  max-height: 600px;
  overflow: hidden auto;
}
.modal > .actions {
  width: 100%;
  padding: 10px 5px;
  margin: auto;
  text-align: center;
}
.modal > .close {
  cursor: pointer;
  position: absolute;
  display: block;
  padding: 2px 5px;
  line-height: 20px;
  right: 4px;
  top: 4px;
  font-size: 24px;
  background: #ffffff;
  border-radius: 18px;
  border: 1px solid #cfcece;
}
