.wp {
  margin-top: 30px;
}

.txt {
  display: flex;
  gap: 10px;
  align-items: center;
  margin-bottom: 15px;

  p {
    color: var(--text-gray-2);
    font-size: 20px;
  }
}

.tagList {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.item {
  color: var(--blue-6);
  border-radius: 4px;
  display: inline-block;
  border: 1px solid var(--text-gray-11);
  padding: 4px 8px;
}

@media only screen and (min-width: 768px) {
  .wp {
    flex-basis: 50%;
    max-width: 50%;
    order: 2;
    padding-left: 20px;
    padding-top: 20px;
  }
}
@media only screen and (min-width: 1024px) {
  .wp {
    flex-basis: initial;
    max-width: 100%;
    order: unset;
    padding-left: 0px;
    padding-top: 0px;
  }
}

@media only screen and (min-width: 1280px) {
}
@media only screen and (min-width: 1440px) {
  .txt {
    margin-bottom: 20px;
    margin-top: 15px;
  }
  .item {
    padding: 10px 20px;
    font-size: 15px;
  }
}
@media only screen and (min-width: 1920px) {
}
