@import "../../../assets/styles/variables";

/**********
 * BANNER *
 **********/
.banner {
  margin-top: 72px;
  height: 300px;
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

@media only screen and (min-height: 768px) {
  .banner {
    height: 400px;
  }
}

/**************
 * END BANNER *
 **************/

/*********
 * INTRO *
 *********/

.productBreadcrumb {
  margin: 10px 0;
}
@media only screen and (min-width: 768px) {
  .end {
    border-bottom: 1px solid var(--blue-3);
  }
}
@media only screen and (min-width: 1024px) {
  .productBreadcrumb {
    margin: 24px 0;
  }
}
/*************
   * END INTRO *
   *************/
