.container {

  padding: 16px 32px;
  border-radius: 8px;
  background: var(--blue-1);

  .titleSummary {
    font-weight: 600;
    margin-bottom: 4px;
  }

  .summary {
    padding-left: 8px;
    a {
      line-height: 24px;
      display: block;
      cursor: pointer;

      &:hover {
        color: #126cab;
      }
    }
  }
}
.wp {
  margin: 20px 0;
  background: var(--blue-1);
  border-radius: 5px;
  padding: 15px;
}

.btn {
  display: flex;
  align-items: center;
  color: var(--text-gray-2);
  font-weight: 600;
  cursor: pointer;
  gap: 10px;
  font-size: 16px;
  img {
    transition: all 0.5s;
  }
}

.btnOpen {
  img {
    transform: rotate(-180deg);
  }
}

.link {
  color: var(--text-gray-2);
  font-size: 14px;
  display: block;
  padding: 5px 0;
  cursor: pointer;
}

@media only screen and (min-width: 1280px) {
  .btn {
    font-size: 15px;
  }
  .link {
    font-size: 15px;
  }
  .wp {
    margin: 25px 0;
  }
}
@media only screen and (min-width: 1440px) {
  .wp {
    margin: 30px 0;
  }
}
@media only screen and (min-width: 1920px) {
  .wp {
    margin: 35px 0 43px;
    padding: 30px;
  }
  .link {
    padding: 10px 0;
  }
}
